<!-- Additional Elements -->
<section class="wrapper style1 align-left">
  <div class="inner">
     <header>
       <h2 id = "publications">Publications</h3>
     </header>

  <div class="content">
    <ul class="alt">
      
      <li>
        <b>Katherine Hébert</b>, Maximiliane Jousse, Janaína de Andrade Serrano, Dirk N. Karger, F. Guillaume Blanchet, Laura J. Pollock. (2024). Biodiversity indicators miss local and short-term change: A blank space waiting to be filled. <i>EcoEvoRxiv</i>. 
        <br>
        <a href="https://doi.org/10.32942/X2J89R" class="icon style1 solid fa-link"> Read</a> &nbsp
        <a href="https://doi.org/10.32942/X2J89R" class="icon style1 solid fa-file-pdf"> PDF</a>  <a href="https://github.com/katherinehebert/indicator-gaps" class="icon style1 brands fa-github"> Code</a>
       </li>
      
      
        <li>
        Pedro Henrique Pereira Braga, <b>Katherine Hébert</b>, Emma J. Hudgins, Eric R. Scott, Brandon P. M. Edwards, Luna L. Sánchez Reyes, Matthew J. Grainger, Vivienne Foroughirad, Friederike Hillemann, Allison D. Binley, Cole B. Brookson, Kaitlyn M. Gaynor, Saeed Shafiei Sabet, Ali Güncan, Helen Weierbach, Dylan G. E. Gomes, Robert Crystal-Ornelas. (2023). Not just for programmers: How GitHub can accelerate collaborative and reproducible research in ecology and evolution. <i>Methods in Ecology and Evolution</i> 14(6): 1364-1380. 
        <br>
        <a href="https://doi.org/10.1111/2041-210X.14108" class="icon style1 solid fa-link"> Read</a> &nbsp
        <a href="https://besjournals.onlinelibrary.wiley.com/doi/epdf/10.1111/2041-210X.14108" class="icon style1 solid fa-file-pdf"> PDF</a>  <a href="https://github.com/SORTEE-Github-Hackathon/manuscript" class="icon style1 brands fa-github"> Code</a>
       </li>
      
        <li>
        <b>Katherine Hébert K</b> & Dominique Gravel. (2023). The Living Planet Index's ability to capture biodiversity change from uncertain data. <i>Ecology</i> 104(6): e4044. 
        <br>
        <a href="https://doi.org/10.1002/ecy.4044" class="icon style1 solid fa-link"> Read</a> &nbsp
        <a href="https://esajournals.onlinelibrary.wiley.com/doi/epdf/10.1002/ecy.4044" class="icon style1 solid fa-file-pdf"> PDF</a>  <a href="https://doi.org/10.6084/m9.figshare.21270855.v1" class="icon style1 brands fa-github"> Code</a>
       </li>
      
       <li>
        Jake Lawlor, Francis Banville, Norma-Rocio Forero-Muñoz, <b>Katherine Hébert</b>, Juan Andrés Martínez-Lanfranco, Pierre Rogy, A Andrew M MacDonald. (2022). Ten simple rules for teaching yourself R. <i>PLoS Computational Biology</i> 18(9): e1010372. 
        <br>
        <a href="https://doi.org/10.1371/journal.pcbi.1010372" class="icon style1 solid fa-link"> Read</a> &nbsp
        <a href="https://journals.plos.org/ploscompbiol/article/file?id=10.1371/journal.pcbi.1010372&type=printable" class="icon style1 solid fa-file-pdf"> PDF</a> 
       </li>
      
       <li>
        Jessica Currie, Joseph B. Burant, Valentina Marconi, Stephanie A. Blain, Sandra Emry, <b>Katherine Hébert</b>, Garland Xie, Nikki A. Moore, Xueqi Wang, Andrea Brown, Lara Grevstad, Louise McRae, Stefano Mezzini, Patrick Pata, and Robin Freeman. (2022). Assessing the representation of species included within the Canadian Living Planet Index. <i>FACETS</i>. 7: 1121-1141.
        <br>
        <a href="https://doi.org/10.1139/facets-2022-0063" class="icon style1 solid fa-link"> Read</a> &nbsp
        <a href="https://www.facetsjournal.com/doi/pdf/10.1139/facets-2022-0063" class="icon style1 solid fa-file-pdf"> PDF</a> &nbsp
        <a href="https://figshare.com/collections/Canadian_Living_Planet_Index/5901434/3" class="icon style1 brands fa-github"> Code</a>
      </li>
                 
      <li>
        <b>Katherine Hébert</b>, Virginie Millien, and Jean-Philippe Lessard. (2021), Source pool diversity and proximity shape the compositional uniqueness of insular mammal assemblages worldwide. <i>Journal of Biogeography</i>, 48: 2337-2349. 
        <br>
        <a href="https://doi.org/10.1111/jbi.14156" class="icon style1 solid fa-link"> Read</a>&nbsp
        <a href="#" class="icon style1 solid fa-file-pdf"> PDF</a> &nbsp
        <a href="https://github.com/katherinehebert/insular-mammals" class="icon style1 brands fa-github"> Code</a>
      </li>
  
      <li>
        David Anthony Kirk, <b>Katherine Hébert</b>, Kathryn Freemark Lindsay, Elena Kreuzberg. (2020). Defining specialism and functional species groups in birds: First steps toward a farmland bird indicator. <i>Ecological Indicators</i>, 114, 106133. 
        <br>
        <a href="https://doi.org/10.1016/j.ecolind.2020.106133" class="icon style1 solid fa-link"> Read</a>&nbsp
        <a href="#" class="icon style1 solid fa-file-pdf"> PDF</a> &nbsp
        <a href="https://github.com/katherinehebert/FarmlandBirds" class="icon style1 brands fa-github"> Code</a>
      </li>
  
      <li>
        David Anthony Kirk, <b>Katherine Hébert</b>, Frank Barrie Goldsmith. (2019). Grazing effects on woody and herbaceous plant biodiversity on a limestone mountain in northern Tunisia. <i>PeerJ</i>, 7, e7296. 
        <br>
        <a href="https://doi.org/10.7717/peerj.7296" class="icon style1 solid fa-link"> Read</a>&nbsp
        <a href="#" class="icon style1 solid fa-file-pdf"> PDF</a> &nbsp
      </li>
                            
      </ul>
      </div>
  </section>

